<%= form_for(@percorso, url: send_message_percorso_url, remote: true) do |f| %>
  <div class="col-xs-12">
    <%= text_area(:message, :text, rows: 2, cols: 32) %>
  </div>
  <%= hidden_field(:destinatario, :id, value: @idDestinatario) %>
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-6">
        <a class="btn btn-success center-block message_invia">Invia</a>
      </div>
      <div class="col-xs-6">
        <a class="btn btn-danger center-block message_cancella">Cancella</a>
      </div>
    </div>
  </div>
<% end %>
