<br><br><br><br>
<div class="container text-center form-div">
  <h2 style="color: #FEFEFE; margin-bottom: 0.4em;">Aggiorna il percorso</h2>
  <%= render 'form' %><br>
  <%= link_to 'Show', @percorso, class: 'link-form' %>
  <%= link_to 'Back', percorsos_path, class: 'link-form' %>
</div>
